body {
  /*margin: 40px auto;*/
  /*max-width: 650px;*/
  /*line-height: 1.6;*/
  font-size: 1em;
  font-family: 'Inter', sans-serif;
  color: #eee;
  padding: 0 10px;
  background-color: #0b0b0b;
}

hr {
  width: 45%;
  border: 1px solid #333;
  margin: 0px;
}

.hero_div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hero_title {
  font-size: 5.5em;
  font-family: 'Saira Condensed', serif;
}

.hero_h1 {
  margin-top: 10px;
  font-size: 1.5em;
  font-family: 'Inter', sans-serif;
  padding-top: 1.5em;
}

.hero_h2 {
  font-size: 1.1em;
  font-family: 'Inter', sans-serif;
  padding-top: 20px;
}

@media only screen and (max-width: 800px) {
  .hero_div {
    padding-left: 10px;
    padding-right: 10px;
  }
  .hero_title {
    font-size: 2.9em;
    padding-bottom: 20px;
  }

  .hero_h1 {
    margin-top: 10px;
    font-size: 1.2em;
    padding-top: 24px;
  }

  .hero_h2 {
    font-size: 1em;
    padding-top: 20px;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
  text-align: right;
}

.button {
  padding: 14px 40px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  font-size: 0.7em;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px 5px 5px 5px;
  border-color: #333;
  background-color: #0b0b0b;
  margin-right: 5%;
}

/*
.row {
    clear: both;
    max-width: 1040px;
    margin: 0 auto;
}

[class^="col-"] {
    float: left;
    margin: 0 3.84615384615% 0 0;
    list-style: none;
    position: relative;
}

[class^="col-"]:last-child {
    margin: 0;
}

.col-1 { width: 4.8076923077% }
.col-2 { width: 13.4615384615% }
.col-3 { width: 22.1153846154% }
.col-4 { width: 30.7692307692% }
.col-5 { width: 39.4230769231% }
.col-6 { width: 48.0769230769% }
.col-7 { width: 56.7307692308% }
.col-8 { width: 65.3846153846% }
.col-9 { width: 74.0384615385% }
.col-10 { width: 82.6923076923% }
.col-11 { width: 91.3461538462% }
.col-12 { width: 100%; margin: 0 }
*/
