body {
  /*margin: 40px auto;*/
  /*max-width: 650px;*/
  /*line-height: 1.6;*/
  margin: 0;
  font-size: 1em;
  font-family: monospace;
  color: #333;
  /*padding: 0 10px;*/
  background-color: #181C26;
}

strong { 
  font-weight: 800; 
}

a {
  font-weight: 800; 
}
a:link {
  color: #333;
  text-decoration: none;
}
a:visited {
  color: #333;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}

.topnav {
  background: #181C26;
  overflow: hidden;
  min-height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
}

#topnav_home {
  color: #eee;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 60px;
  display: none;
  cursor:pointer;
}

#topnav_mail {
  color: #eee;
  text-align: right;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 60px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor:pointer;
}

.hero_div {
  min-height: 100vh;
  padding: 44px 44px 128px 44px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.hero_h1 {
  font-size: 3em;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 1.2;
  padding-top: 50px;
}

.hero_h2 {
  font-size: 1.1em;
  font-family: 'Inconsolata', monospace;
  padding-top: 50px;
  padding-bottom: 80px;
  line-height: 2.5;
}

.hero_footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 64px;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #181C26;
}

.button {
  padding: 14px 40px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  font-size: 1em;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 4px;
  transition: .5s;
  overflow: hidden;
}
.button:focus {
  outline: 0;
}
.button:hover {
  color: white;
  border: 1px solid #ec5c00;
  background: #ec5c00;
  cursor: pointer;
  text-decoration: none;
}
.button:hover:before {
  opacity: 0.6;
  transition: .5s;
}
.button:hover:after {
  opacity: 1;
  transition: .5s;
}
.button-primary {
  border: 1px solid #ec5c00;
  background: #eee;
  text-decoration: none;
}
.button-primary:link {
  color: #ec5c00;
}
.button-primary:link:hover {
  color: #eee;
}
.button-secondary {
  border: 1px solid #eee;
  background: #eee;
}
.button-secondary:hover {
  color: #333;
  border: 1px solid #333;
  background: #eee;
}

#footer_icon {
  color: #eee;
  text-align: center;
  cursor:pointer;
  padding-left: 15px;
  padding-right: 15px;
}

.tag {
  color: #fff;
  font-family: sans-serif;
  font-weight: 300;
  padding: 10px 25px;  /* vertical horizontal */
  margin: 5px;
  border-radius: 30px;
  user-select: none;
}

/* Bootstrap icons - Start */
.bi-arrow-up-right {
    margin-bottom: 5%;
}
/* Bootstrap icons - End */
