body {
  /*margin: 40px auto;*/
  /*max-width: 650px;*/
  /*line-height: 1.6;*/
  font-size: 1em;
  font-family: 'Inter', sans-serif;
  color: #eee;
  /*padding: 0 10px;*/
  background-color: #0b0b0b;
}

a:link {
  color: #ACECF7;
  text-decoration: none;
}

a:visited {
  color: #ACECF7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.topnav {
  background: #0b0b0b;
  overflow: hidden;
  min-height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
}

#topnav_home {
  color: #eee;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 60px;
  display: none;
  cursor:pointer;
}

#topnav_mail {
  color: #eee;
  text-align: right;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 60px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor:pointer;
}

hr {
  width: 45%;
  border: 1px solid #2b2b2b;
  margin: 0px;
}

.hero_main {
  display: none;
  height: 100%;
  min-height: 450px;
  width: 80%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hero_div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 60px;
  padding-right: 60px;
}

.hero_title {
  font-size: 5.5em;
  font-family: 'Saira Condensed', serif;
  text-transform: uppercase;
}

.hero_h1 {
  margin-top: 10px;
  font-size: 1.5em;
  font-family: 'Inter', sans-serif;
  padding-top: 24px;
}

.hero_h2 {
  font-size: 1.1em;
  font-family: 'Inter', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 800px) {
  .hero_div {
    padding-left: 10px;
    padding-right: 10px;
  }

  .hero_title {
    font-size: 2.9em;
    padding-bottom: 20px;
  }

  .hero_h1 {
    font-size: 1.2em;
  }

  .hero_h2 {
    font-size: 1em;
  }
}

.hero_footer {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
  text-align: center;
}

.button {
  padding: 14px 40px;
  border: 1px solid #3b3b3b;
  color: white;
  text-decoration: none;
  font-size: 0.7em;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 4px;
  background: #0b0b0b;
  color: #eee;
  transition: .6s;
  overflow: hidden;
}

.button:focus {
  outline: 0;
}
.button:hover {
  background: #2b2b2b;
  cursor: pointer;
  text-decoration: none;
}
.button:hover:before {
  opacity: 0.6;
  transition: .7s;
}
.button:hover:after {
  opacity: 1;
  transition: .7s;
}

#more_button {
  vertical-align: bottom;
  margin-bottom:40px;
  color: #eee;
}

.main_content {
  opacity: 0;
  display: none;
  margin-top: 100px;
  margin-bottom: 40px;
  scroll-behavior: smooth;
}

.content_h1 {
  margin-top: 10px;
  font-size: 2em;
  font-family: 'Saira Condensed', sans-serif;
  padding-left: 2%;
  padding-bottom: 50px;
  text-transform: uppercase;
}

.thumb {
  height: 300px;
  width: 300px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 4px;
  -webkit-transition: 0.3s, filter 0.5s ease-in-out;
  transition: transform 0.3s, filter 0.5s ease-in-out;
}

@media only screen and (max-width: 1024px) {
  .thumb {
    height: 250px;
    width: 250px;
  }
}

@media only screen and (max-width: 800px) {
  .content_h1 {
    padding-left: 0;
    text-align: center;
  }

  .thumb {
    height: 150px;
    width: 150px;
  }
}

@media only screen and (max-width: 600px) {
  .content_h1 {
    padding-left: 0;
    text-align: center;
  }

  .thumb {
    height: 100px;
    width: 100px;
  }
}

.thumb:hover {
  /*-webkit-transform: scale(1.15);
  transform: scale(1.15);*/
  /*-webkit-filter: grayscale(70%);
  filter: grayscale(70%);*/
  cursor: pointer;
}

.left-thumb {
  text-align: right;
}

.middle-thumb {
  text-align: center;
}

.right-thumb {
  text-align: left;
}

.row {
  clear: both;
  max-width: 1040px;
  margin: 0 auto;
}

[class^="col-"] {
  float: left;
  margin: 0 3.84615384615% 3.84615384615% 0;
  list-style: none;
  position: relative;
}

[class^="col-"]:last-child {
  margin: 0;
}

.col-1 { width: 4.8076923077% }
.col-2 { width: 13.4615384615% }
.col-3 { width: 22.1153846154% }
.col-4 { width: 30.7692307692% }
.col-5 { width: 39.4230769231% }
.col-6 { width: 48.0769230769% }
.col-7 { width: 56.7307692308% }
.col-8 { width: 65.3846153846% }
.col-9 { width: 74.0384615385% }
.col-10 { width: 82.6923076923% }
.col-11 { width: 91.3461538462% }
.col-12 { width: 100%; margin: 0 }

/* Modal - Start */
/* The Modal (background) */
.modal-back {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 65px; /* Location of the box */
  padding-bottom: 65px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #1b1b1b;
  margin: auto;
  padding: 0px 30px 30px 30px;
  /*border: 1px solid #888;*/
  max-width: 80%;
  width: max-content;
  max-height: 80%;
  /*height: 100%;*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  overflow: scroll;
}

/* The Top Bar */
.modal-topbar {
  padding-top: 30px;
  width: 100%;
  display: block;
  position: sticky;
  top: 0;
  background-color: #1b1b1b;
  overflow: hidden;
}

/* The Title */
.modal-title {
  color: #eee;
  float: left;
  line-height: 28px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* The Close Button */
.modal-close {
  color: #bbb;
  float: right;
  line-height: 18px;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.modal-close:hover,
.modal-close:focus {
  color: #eee;
  text-decoration: none;
  cursor: pointer;
}

/* Modal image */
.modal-img {
  max-width: 100%;
  max-height: 800px;
  object-fit: contain;
  display: block;
}
/* Modal - End */

/* css.gg - Start */
.gg-external {
    /* This value will multiple the actual size  */
    --ggs: 0.5;
    display: inline-block;
    vertical-align: top;
}
/* css.gg - End */
